.hdg {
  font-family: var(--font-serif);
}

.hdg--1 {
  font-size: var(--step-5);
  font-weight: 700;
  line-height: 1.25;
}

.hdg--label {
  font-size: var(--step-negative-2);
  white-space: nowrap;
}
