{% if postListItems.length %}
  <section class="stack">
    {% if title %}
      <h1 class="hdg hdg--1 {{ 'sr-only' if visuallyHideTitle }}">{{ title }}</h1>
    {% endif %}
    {% if postListTitle %}
      <h{{ titleLevel|d(2)}} class="hdg hdg--1">{{ postListTitle }}</h{{ titleLevel|d(2) }}>
    {% endif %}
    <div class="stack">
      {% for post in postListItems|reverse %}
        <article class="h-entry post stack stack--xs">
          <h3 class="p-name"><a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a></h3>
          <div class="post__meta">
            <time class="dt-published" datetime="{{ post.data.date | w3DateFilter }}">{{ post.data.date | dateFormat }}</time>
          </div>
          <div class="p-summary">{{ post.data.page.excerpt }}</div>
          {% if post.data.audioSrc %}
            {% audio post.data.audioSrc %}
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </section>
{% endif %}
