{% set pageTitle %}{{ title }} — {{ site.name }}{% endset %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}
{% set colorScheme = site.colorScheme %}
{% set metaImage = site.url + socialImage|d(site.socialImage) %}
{% set metaDesc = pageDesc|d(site.shortDesc) %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if metaDesc %}
  {% set pageDesc = metaDesc %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

{% if colorScheme %}
  <meta name="color-scheme" content="{{ colorScheme }}">
  <meta name="theme-color" content="{{ site.themeLight }}" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="{{ site.themeDark }}" media="(prefers-color-scheme: dark)">
{% endif %}

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

{% if metaImage %}
  <meta property="og:image" content="{{ metaImage }}" />
  <meta name="twitter:image" content="{{ metaImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}
