<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="webmention" href="https://webmention.io/frgmnt.art/webmention" />
  <link rel="alternate" type="application/rss+xml" title="" href="https://frgmnt.art/feed.xml">
  {% include "partials/global/site-meta.njk" %}
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/rel-icon.png" sizes="192x192" type="image/png">
  <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
<div class="wrapper">
  {% include "partials/landmarks/site-header.njk" %}
  <main tabindex="-1">
    {% block content %}
    {% endblock %}
  </main>
  {% set track = lastfm.recenttracks.track[0] %}
  {% if track %}
    <aside class="stack stack--2xs">
      <h3 class="hdg hdg--aside">The last thing I listened to:</h3>
      <figure class="track">
        {% if track.image %}
          <img
            class="track__media"
            src="{{ track.image[0]['#text'] }}"
            alt="The album cover for {{ track.album['#text'] }}"
            width="34"
            height="34"
          >
        {% else %}
          <img
            class="track__media"
            src="/images/track-default"
            alt=""
            width="34"
            height="34"
          >
        {% endif %}
        <div class="track__meta">
          <a href="{{ track.url }}">"{{ track.name }}"</a>, by {{ track.artist['#text'] }}
        </div>
      </figure>
    </aside>
  {% endif %}
</div>
</body>
</html>
