---
eleventyImport:
  collections: ["postFeed"]
---
{% extends 'layouts/base.njk' %}
{% set postListTitle = 'Latest Posts' %}
{% set titleLevel = 2 %}
{% set postListItems = collections.postFeed %}

{% block content %}
  {% include "partials/components/post-list.njk" %}
{% endblock %}
