.stack > * + * {
  margin-block-start: var(--space-l);
}

.stack--s > * + * {
  margin-block-start: var(--space-s);
}

.stack--xs > * + * {
  margin-block-start: var(--space-xs);
}

.stack--2xs > * + * {
  margin-block-start: var(--space-2xs);
}

.stack--3xs > * + * {
  margin-block-start: var(--space-3xs);
}

.stack--m > * + * {
  margin-block-start: var(--space-m);
}

.stack > *.sr-only + * {
  margin-block-start: 0;
}
