<div hidden class="hidden">
  <a class="u-url" href="{{ site.url }}{{ page.url }}">{{ title }}</a>
  <p class="h-card p-author">
    <a class="p-name u-url" href="{{ site.url }}" rel="author">Ted Flynn</a>
    <img class="u-photo" src="{{ site.url }}{{ site.authorAvatar }}" alt="This site's avatar.">
  </p>
</div>
