<div hidden class="hidden">
  <p class="h-card">
    <a class="p-name u-url" href="{{ site.url }}" rel="me">Ted Flynn</a>
    <img class="u-photo" src="{{ site.url }}{{ site.authorAvatar }}" alt="This site's avatar.">
  </p>
</div>
