<header role="banner">
  <nav class="nav">
    <h2 class="sr-only">Primary Navigation</h2>
    <a class="mark" href="/">frgmnt.art</a>
    <div class="nav__links">
      <a {{ 'aria-current=page' if page.url == "/archive/" }} href="/archive/">All Posts</a>
      <a {{ 'aria-current=page' if page.url == "/about/" }} href="/about/">About</a>
      <a href="/feed.xml">RSS</a>
    </div>
    <div class="nav__social">
      <a href="https://lostlemming.bandcamp.com/">
        <svg aria-labelledby="bandcamp-title" xmlns="http://www.w3.org/2000/svg" class="icon">
          <title id="bandcamp-title">Github</title>
          <use href="/images/svg-sprite.svg#bandcamp"></use>
        </svg>
      </a>
      <a href="https://github.com/flynnt">
        <svg aria-labelledby="github-title" xmlns="http://www.w3.org/2000/svg" class="icon">
          <title id="github-title">Bandcamp</title>
          <use href="/images/svg-sprite.svg#github"></use>
        </svg>
      </a>
      <a href="https://beige.party/@tflynn" rel="me">
        <svg aria-labelledby="mastodon-title" xmlns="http://www.w3.org/2000/svg" class="icon">
          <title id="mastodon-title">Mastodon</title>
          <use href="/images/svg-sprite.svg#mastodon"></use>
        </svg>
      </a>
    </div>
    <div class="nav__meta" role="contentinfo">
      <small>&copy; {{ helpers.currentYear() }} Ted Flynn</small>
    </div>
  </nav>
</header>
