<header role="banner">
  <nav class="nav">
    <h2 class="sr-only">Primary Navigation</h2>
    <a class="mark" href="/">frgmnt.art</a>
    <div class="nav__links">
      <a {{ 'aria-current=page' if page.url == "/archive/" }} href="/archive/">All Posts</a>
      <a {{ 'aria-current=page' if page.url == "/about/" }} href="/about/">About</a>
      <a href="/feed.xml">RSS</a>
    </div>
    {% set track = lastfm.recenttracks.track[0] %}
    {% if track %}
      <div class="nav__feeds stack stack--2xs">
        <h3 class="hdg hdg--aside">The last thing I listened to:</h3>
        <figure class="track">
          {% if track.image %}
            <img
              class="track__media"
              src="{{ track.image[0]['#text'] }}"
              alt="The album cover for {{ track.album['#text'] }}"
              width="34"
              height="34"
            >
          {% else %}
            <img
              class="track__media"
              src="/images/track-default"
              alt=""
              width="34"
              height="34"
            >
          {% endif %}
          <div class="track__meta">
            <a href="{{ track.url }}">"{{ track.name }}"</a>, by {{ track.artist['#text'] }}
          </div>
        </figure>
      </div>
    {% endif %}
    <div class="nav__social">
      <a href="https://lostlemming.bandcamp.com/" rel="me">
        <svg aria-labelledby="bandcamp-title" xmlns="http://www.w3.org/2000/svg" class="icon">
          <title id="bandcamp-title">Github</title>
          <use href="/images/svg-sprite.svg#bandcamp"></use>
        </svg>
      </a>
      <a href="https://github.com/flynnt" rel="me">
        <svg aria-labelledby="github-title" xmlns="http://www.w3.org/2000/svg" class="icon">
          <title id="github-title">Bandcamp</title>
          <use href="/images/svg-sprite.svg#github"></use>
        </svg>
      </a>
      <a href="https://beige.party/@tflynn" rel="me">
        <svg aria-labelledby="mastodon-title" xmlns="http://www.w3.org/2000/svg" class="icon">
          <title id="mastodon-title">Mastodon</title>
          <use href="/images/svg-sprite.svg#mastodon"></use>
        </svg>
      </a>
    </div>
    <div class="nav__meta" role="contentinfo">
      <small>&copy; {{ helpers.currentYear() }} Ted Flynn</small>
      {% include "partials/microdata/site-h-card.njk" %}
    </div>
  </nav>
</header>
