.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  margin: -1px;
  white-space: nowrap;
  width: 1px;
}

.hidden,
[hidden] {
  display: none;
}
